# Node modules
node_modules/

# Dependency lock file
package-lock.json

# IDE directories
.vscode/
.idea/
.idx/

# macOS
.DS_Store

# Log files
*.log
logfile

# Temporary files
*.tmp
*.temp

# Local environment files
.env
/dashboard/.env

# Databases
/dashboard/data/*.sqlite
.postgres_data/

# Generated data
/dashboard/data/organizations/*.json
/dashboard/data/history/*.json
/dashboard/data/*.json
dashboard/.env
