# Node modules
node_modules/

# macOS
.DS_Store

# IDE
.vscode/
.idea/
.idx/

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Local environment file
/.env

# Ignore sqlite databases
*.sqlite

# Dashboard data (generated organizations)
/dashboard/data/**/*.json
